#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	$(MAKE) DESTDIR=$$(pwd)/debian/enem-amigo prefix=/usr install

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/enem-amigo prefix=/usr install
